@use "../../../mixins" as mixins;

:host {
  @include mixins.flex(flex-start, stretch, flex, column);
  height: 100%;

  .am-product-gallery {
    &__wrapper {
      flex: 1 0 auto;
    }

    &__spinner-wrapper {
      @include mixins.flex(center, center, flex, row);
      height: 100%;
    }

    &__list {
      @include mixins.flex(flex-start, stretch, flex, row, 2em);
      flex-wrap: wrap;
      padding: 2em 4em;

      > am-product-list-item {
        flex: 1 0;
      }
    }
  }
}
