<div class="am-product-gallery__wrapper" *ngLet="products$ | async as products">
  @if (!products?.length) {
    <div class="am-product-gallery__spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  }

  <div class="am-product-gallery__list">
    @for (product of products; track product.id) {
      <am-product-list-item [product]="product"></am-product-list-item>
    }
  </div>
</div>

<mat-paginator *ngIf="paginationSettings$ | async as paginationSettings"
               class="am-product-gallery__paginator"
               [length]="paginationSettings.total"
               [pageSize]="paginationSettings.pageSize"
               [pageIndex]="paginationSettings.currentPage"
               [pageSizeOptions]="[10, 25, 100]"
               [showFirstLastButtons]="true"
               (page)="onPageChange($event)"
               aria-label="Select page">
</mat-paginator>
