<ng-container *ngIf="product$ | async as product">
  <div class="am-product-details__img-wrapper">
    <img [ngSrc]="product.imgUrl" [alt]="product.name" fill priority>
  </div>

  <div class="am-product-details__body-wrapper">
    <h2>{{ product.name }}</h2>

    @if (product.size) {
      <p>
        Size: {{ product.size }}
      </p>
    }

    @if (product.color) {
      <p>
        Color: {{ product.color }}
      </p>
    }

    <p>
      {{ product.description }}
    </p>

    <div class="am-product-details__price">
      <b>{{ product.price | currency }}</b>
    </div>

    <am-add-to-cart class="am-product-details__add-to-cart"
                    [product]="product">
    </am-add-to-cart>
  </div>
</ng-container>
