@use "../../../../mixins" as mixins;

:host {
  @include mixins.flex(flex-start, stretch, flex, row, 2em);
  padding: 5% 8%;
  height: 100%;
}

.am-product-details {
  &__img-wrapper {
    flex-shrink: 0;
    position: relative;
    flex-basis: 30%;
  }

  &__body-wrapper {
    flex-grow: 1;
  }

  &__add-to-cart {
    margin-top: 1em;
  }
}

@media (screen and max-width: 1024px) {
  :host {
    padding: 1em;
  }

  .am-product-details {
    &__img-wrapper {
      flex-basis: 50%;
    }

    &__body-wrapper {
      margin: auto 0;
    }
  }
}
