@use "sass:map";
@use "../../../mixins" as mixins;

:host {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.am-layout {
  &__header {
    grid-area: header;
  }

  &__side-panel {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--main-color);
    padding: 1em 3em;
    overflow: auto;
  }

  &__side-panel-backdrop {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  &__main {
    grid-area: main;
    position: relative;
    min-height: 50vh;
    padding: 0 10%;
    background-color: var(--main-color);
  }

  &__footer {
    grid-area: footer;
  }
}

@media (screen and max-width: 1024px) {
  .am-layout {
    &__main {
      padding: 0 2em;
    }

    &__side-panel {
      width: 100%;
    }

    &__side-panel-backdrop {
      display: none;
    }
  }
}

