<am-header class="am-layout__header" (sidePanelToggled)="onSidePanelToggled()"></am-header>

<main class="am-layout__main">
  @if (showSidePanel) {
    <div class="am-layout__side-panel" [@sidePanelAnimation]>
      <am-product-catalog (categorySelect)="onSidePanelClosed()"></am-product-catalog>
    </div>

    <div class="am-layout__side-panel-backdrop"
         [@sidePanelBackdropAnimation]
         (click)="onSidePanelClosed()">
    </div>
  }
  <router-outlet></router-outlet>
</main>

<am-footer class="am-layout__footer"></am-footer>
