@use "../../../mixins" as mixins;

.am-header {
  @include mixins.flex(flex-start, center, flex, row, 3em);
  background-color: var(--header-color);
  color: var(--text-color-light);
  padding: 5em;

  &__logo {
    flex-shrink: 0;
  }

  &__search-bar {
    flex-grow: 1;
  }

  &__search-wrapper {
    @include mixins.flex(flex-start, center, flex, row, 2em);
    flex-grow: 1;
    margin: 0 5em;
  }

  &__actions {
    @include mixins.flex(center, center, flex, row, 1em);
    margin-left: auto;
  }
}

@media (screen and max-width: 1024px) {
  .am-header {
    padding: 2.5em;
    flex-direction: column;
    align-items: stretch;

    &__search-wrapper {
      margin: 0;
    }

    &__actions {
      margin: 0;
    }
  }
}
