<header class="am-header">
  <h1 class="am-header__logo am-logo">{{ appName$ | async }}</h1>

  <div class="am-header__search-wrapper">
    <button mat-flat-button
            color="primary"
            class="am-button am-button--size-l"
            (click)="sidePanelToggled.emit()">
      <mat-icon class="am-navigation__burger-icon">menu</mat-icon>
      Catalog
    </button>

    <am-search-bar class="am-header__search-bar" [formControl]="searchControl"></am-search-bar>
  </div>

  <div class="am-header__actions" *ngLet="isAuthenticated$ | async as isAuthenticated">
    <button mat-stroked-button (click)="onLogoutClick(!!isAuthenticated)">
      {{ isAuthenticated ? 'Logout' : 'Welcome! Sign In'  }}
    </button>
    <button mat-stroked-button>Returns and Orders</button>
    <button mat-stroked-button (click)="onCartClick()">
      Cart
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <am-theme-button>Toggle Theme</am-theme-button>
  </div>
</header>

