<div class="am-cart-item__img-wrapper">
  <img [ngSrc]="cartItem.imgUrl" [alt]="cartItem.name" fill priority>
</div>

<div class="am-cart-item__description-wrapper">
  <h2>{{ cartItem.name }}</h2>

  @if (cartItem.size) {
    <p>
      Size: {{ cartItem.size }}
    </p>
  }

  @if (cartItem.color) {
    <p>
      Color: {{ cartItem.color }}
    </p>
  }

  <p>
    {{ cartItem.description }}
  </p>
</div>


<div class="am-cart-item__price-container">
  <mat-form-field [hideRequiredMarker]="true" class="am-cart-item__quantity">
    <mat-label>Quantity</mat-label>
    <input matInput
           type="number"
           [amSetToNearestValidValueOnBlur]="{
              min: 1,
              max: cartItem.quantityInStock,
              default: 1
           }"
           [min]="1"
           [max]="cartItem.quantityInStock"
           [step]="1"
           [formControl]="quantityControl">
    <mat-error am-validation-error [control]="quantityControl" prefix="Item quantity"></mat-error>
  </mat-form-field>

  <div class="am-cart-item__price">
    <b>{{ (cartItem.price * quantityControl.value) | currency }}</b>
  </div>
</div>

