@mixin flex($justify-content: flex-start, $align-items: stretch, $display: flex, $flex-direction: row, $gap: 0) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
