:root {
  --dark-900: #f7f7f7;
  --dark-800: #e6e9ee;
  --dark-700: #dde0e4;
  --dark-600: #818890;
  --dark-500: #535661;
  --dark-400: #4b4c53;
  --dark-300: #3a3d4a;
  --dark-200: #2e3039;
  --dark-100: #1f2028;

  // light theme
  --accent-light-900: #EBE8E7;
  --accent-light-800: #EA7186;
  --accent-light-700: #F2C76E;
  --accent-light-600: #7A77B9;

  // dark theme
  --accent-dark-900: #EFA500;
  --accent-dark-800: #F40058;
  --accent-dark-700: #43BEE5;
  --accent-dark-600: #161B40;
}
