@use 'theme';
@use 'palettes';
@use 'typography';
@use './app/mat-styles/_mat-button.theme';
@use './app/mat-styles/_mat-nav-list.theme';
@use './app/mat-styles/_mat-icon.theme';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &:has(.am-layout__side-panel) {
    overflow: hidden;
  }
}

.full-width {
  width: 100%;
}

img {
  object-fit: contain;
}

:root {
  --text-color-dark: var(--dark-100);
  --text-color-light: var(--dark-900);

  color: var(--text-color-dark);
}

