@use "sass:map";

:host {
  display: grid;
  grid-template-areas:
    "header header"
    "navigation  main"
    "navigation  footer";
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr;
  height: 100vh;
  width: 100vw;
}

.app-layout {
  &__header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--header-color);
  }

  &__navigation {
    grid-area: navigation;
    background-color: var(--nav-color);
  }

  &__main {
    grid-area: main;
    background-color: var(--main-color);
  }

  &__footer {
    grid-area: footer;
    background-color: var(--footer-color);
  }
}
